<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="http://www.tukorhegy.hu/">TKE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  *ngIf="authorizationService.isAuthenticated()" 
          class="collapse navbar-collapse" 
          id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
          <span class="glyphicon glyphicon-envelope wff-header-icon"></span>Üzenetek
        </a></li>
        <li><a href="#">
          <span class="glyphicon glyphicon-calendar wff-header-icon"></span>Naptár
        </a></li>
        <li><a href="#">
          <span class="glyphicon glyphicon-user wff-header-icon"></span>Profil
        </a></li>
        <li style="cursor: pointer"><a (click)="logout()">
          <span class="glyphicon glyphicon-log-out wff-header-quit"></span>Kilépés
        </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>