<nav  class="navbar navbar-default header-no-border-radius" 
      >
  <div class="container-fluid" >
    <div class="navbar-header">
      <div class="dropdown" baseDropdown>
        <button type="button" 
              class="navbar-toggle dropdown-toggle collapsed pull-left header-little-margin btn-lg" 
              data-toggle="collapse" 
              data-target="#collapse-left" 
              aria-expanded="false">
          <span class="sr-only">Toggle groupmenu</span>
          <span class="glyphicon glyphicon-user header-group-icon"></span>
        </button>
        <ul class=" dropdown-menu  
                    header-left-dropdown 
                    header-left-dropdown-tablet 
                    header-dropdown-spacing-out">
            <li><a  style="cursor: pointer" 
                    class="header-dropdown-spacing-top">
                    <span class="glyphicon glyphicon-envelope header-icon-dd">
                    </span>Admin
                </a>
            </li>
            <li><a  style="cursor: pointer" 
                    class="header-dropdown-spacing">
                    <span class="glyphicon glyphicon-calendar header-icon-dd">
                    </span>Csoportjaim
                </a>
            </li>
        </ul>
      </div>
      <div class="dropdown" baseDropdown>
      <button type="button" 
              class="navbar-toggle dropdown-toggle collapsed header-little-margin" 
              data-toggle="collapse" 
              data-target="#collapse-right" 
              aria-expanded="false">
        <span class="sr-only">Toggle usernemu</span>
        <span class="icon-bar header-icon-bar-top"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar header-icon-bar-bottom"></span>
      </button>
      <ul class="dropdown-menu header-right-dropdown header-right-dropdown-tablet header-dropdown-spacing-out">
            <li><a  style="cursor: pointer" 
                    class="header-dropdown-spacing-top">
                    <span class="glyphicon glyphicon-envelope header-icon-dd">
                    </span>Üzenetek
                </a>
            </li>
            <li><a  style="cursor: pointer" 
                    class="header-dropdown-spacing">
                    <span class="glyphicon glyphicon-calendar header-icon-dd">
                    </span>Naptár
                </a>
            </li>
            <li><a  style="cursor: pointer" 
                    class="header-dropdown-spacing">
                    <span class="glyphicon glyphicon-user header-icon-dd">
                    </span>Profil
                </a>
            </li>
            <li><a  style="cursor: pointer" 
                    class="header-dropdown-spacing-quit" (click)="logout()">
                    <span class="glyphicon glyphicon-log-out header-icon-dd">
                    </span>Kilépés
                </a>
            </li>
          </ul>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="collapse-right">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
            <span class="glyphicon glyphicon-envelope header-icon">
            </span>Üzenetek
          </a>
        </li>
        <li><a href="#">
            <span class="glyphicon glyphicon-calendar header-icon">
            </span>Naptár
          </a>
        </li>
        <li><a href="#">
            <span class="glyphicon glyphicon-user header-icon">
            </span>Profil
          </a>
        </li>
        <li style="cursor: pointer"><a class="header-quit" (click)="logout()">
            <span class="glyphicon glyphicon-log-out header-quit-icon">
            </span>Kilépés
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

