/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
}


/* Add gap to nav and right windows.*/
.main{
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/



    /*Allow main to be next to Nav*/
    .main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    
    
    

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
        width: 192px;
        height: 100%;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }


