<nav class="navbar navbar-inverse sidebar hidden-xs" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse" id="bs-sidebar-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li ><a routerLink="/home">Főoldal<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown" baseDropdown>
            <a>Adminisztráció<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a [routerLink]="['admin','member']">Tagság</a></li>
              <li class="divider"></li>
              <li routerLinkActive="active"><a [routerLink]="['admin','area']">Területek</a></li>
              <li routerLinkActive="active"><a [routerLink]="['admin','group']">Csoportok</a></li>
            </ul>
          </li>
      <li><a [routerLink]="['admin','home']">Területeim<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-equalizer"></span></a></li>
      <li ><a [routerLink]="['admin','home']">Csoportjaim<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-group"></span></a></li>    
      <li class="dropdown" baseDropdown>
        <a [routerLink]="['admin','home']">Kedvencek<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-star"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a [routerLink]="['/home']">-</a></li>
          </ul>
      </li>    
    </ul>
  </div>
</div>
</nav>
<div class="main">
<!-- Content Here -->
</div>