<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
      <h2>Adminisztráció / Tagság adminisztrálása</h2>
            
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-8">
              <h3 class="panel-title panel-title-res">
                Tagok
              </h3>
            </div>
            <div class="col col-xs-4 text-right">
              <button type="button" 
                      class="btn btn-sm btn-primary btn-create"
                      (click)="onNew()">Új tag rögzítése</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th><em class="fa fa-cog"></em></th>
                <th>Név</th>
              </tr>
            </thead>
            <tbody>
              <tr #loop *ngFor='let item of list; let x = index'>
                <td align="center">
                  <a (click)="onEdit(item.id)" class="btn-sm btn-primary"><em class="fa fa-pencil"></em></a>
                  <a (click)="onSelect(item.id)" class="btn-sm btn-danger"><em class="fa fa-trash"></em></a>
                </td>
                <td>{{ item.fullName }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="panel-footer">
          
          <app-pagination
          [count]="accountService.count"
          [page]="accountService.page"
          [perPage]="accountService.perPage"
          [pagesToShow]="accountService.pagesToShow"
          [loading]="someLoadingVar"
          (goPrev)="onPrev()"
          (goNext)="onNext()"
          (goPage)="goToPage($event)"></app-pagination>         
        </div>
      </div>
    </div>
  </div>
</div>