<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 panel-padding">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-8">
              <h3 class="panel-title panel-title-res">Területek karbantartása</h3>
            </div>
            <div class="col col-xs-4 text-right">
              <button type="button" class="btn btn-sm btn-primary btn-create">Új terület</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th><em class="fa fa-cog"></em></th>
                <th>Név</th>
                <th class="hidden-xs">Leírás</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center">
                  <a class="btn-sm btn-default"><em class="fa fa-pencil"></em></a>
                  <a class="btn-sm btn-danger"><em class="fa fa-trash"></em></a>
                </td>
                <td>Attila utca</td>
                <td class="hidden-xs">Attila utca, kivéve a 35 és 37</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col col-xs-4">Oldal: 1/5
            </div>
            <div class="col col-xs-8">
              <ul class="pagination hidden-xs pull-right">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
              </ul>
              <ul class="pagination visible-xs pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>